.agent_photo {
text-align: center;
}
.agent_photo img {
	height: 180px;
	width: 180px;
	border-radius: 50%
}
.agent_text h3 {
    font-size: 16px;
    color: #1e2c4e;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 25px;
    text-align: center;
}
.agent_text p {
	font-size: 14px;
    font-weight: 600;
    color: #838383;
    margin-top: 7px;
    text-align: center;
}
.contact_row {
	align-items: flex-start !important;
}
.contact_title {
	font-size: 24px;
    font-weight: 700;
    color: #0e1d41;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.contact_text {
	/*margin-top: 30px;*/
	font-size: 14px;
    line-height: 2;
    font-weight: 400;
    color: #838383;
    margin-bottom: 32px;
}
.contact_text p {
	font-size: 14px;
    line-height: 2;
    font-weight: 400;
    color: #838383;
    margin-bottom: 32px;
}

.contact_info_text {
	color: #838383;
	line-height: 2;
}
.contact_info_item {
	display: flex;
	margin-bottom: 25px;
}
.contact_info_item img {
	width: 20px;
	height: 20px;
	margin-right: 20px;
}

.contact_input {
	width: 100%;
	margin-bottom: 10px;
	height: 38px;
	padding-left: 17px;
	background: #e2e6f1;
	border: solid 2px transparent;
}

.contact_input:focus {
	outline: solid 2px #fd784f;
}
textarea {
	height: 117px !important;
	padding-top: 10px;
}
.contact_input::placeholder {
	font-size: 11px;
	font-style: italic;
	font-weight: 400;
	color: #adb8d4;
}

.contact_input_submit {
	border: none;
	outline: none;
	width: 86px;
    height: 32px;
	text-transform: uppercase;
	background-color: #fd784f;
	font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    margin-top: 40px;
}


.feedback_bg {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/testimonials_background.jpg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

.feedback_slider_container {
	width: 85%;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 56px;
}

.feedback_text p {
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
    color: #FFFFFF;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    min-height: 100px;
}

.client_feedback{
	text-align: center;
	margin-top: 67px;
}

.client_feedback_photo img {
	border-radius: 50%;
	width: 81px;
	height: 81px;
}

.client_feedback_name {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fd784f;
    margin-top: 17px;
}

.client_feedback_text{
    font-size: 13px;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 4px;
}
.carousel-cell {
	width: 100%;
}

.flickity-prev-next-button.previous {
	display: none; 
}

.flickity-prev-next-button.next {
	display: none;
}

.dot {
	width: 10px !important;
    height: 10px !important;
	opacity: 1 !important;
	background: none !important;
	border: 2px solid #fd784f;
}

.dot.is-selected {
	background: #fd784f !important;
}
.flickity-page-dots {
	left:0;
	right: 0;
}