/*******************HEADER********************/
.index_background_img {
	background-image: url(../images/cta_1.jpg);
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-position: center center;
	z-index: -1;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.6;

}
.index_background_img_about {
	background-image: url(../images/home_slider_bcg.jpg);
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-position: center center;
	z-index: -1;
	background-size: cover;
    background-attachment: fixed;
    opacity: 0.6;
}
.index_background_img_contact {
	background-image: url(../images/news.jpg);
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.6;
}
.main_head {
	border-bottom: 1px solid grey;
}

.header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	height: 150px;
	border-bottom: 1px solid #aeaead;
	z-index: 1000;
}
header .row {
	height: 100%;
}
.scrolled {
	height: 120px;
	background: #0e1d41;
	border: none;
	display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
	text-align: center;
}
.logo img {
	vertical-align: middle;
}
.logo span {
	display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 1px;
}

.menu_nav {

}
.menu_nav_list {

}
.menu_nav_list_item {
	display: inline-block;
	margin: 0 20px;
}
.menu_nav_list_item a {
	font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_nav_list_item a:hover {
	color: #fd784f;
}


.phone_number {
	height: 44px;
	background-color: #fd784f;
	width: auto;
	padding-right: 30px;
	padding-left: 30px;
}
.phone_number span {
	text-align: center;
	line-height: 44px;
	font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}


.main_head {
	height: 100vh;
}